<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <link rel="apple-touch-icon" sizes="57x57" href="favicon/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="favicon/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="favicon/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="favicon/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="favicon/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="favicon/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="favicon/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="favicon/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192" href="favicon/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="favicon/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
  <link rel="manifest" href="favicon/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="favicon/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
  <title>Jottrbox</title>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="//stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="//cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.7.7/css/mdb.min.css" rel="stylesheet">
  <style rel="stylesheet">
    .fullscreen-overlay {
      position: absolute;
      width: 100%;
      height: 100vh;
      left: 0;
      top: 0;
      z-index: 10;
      visibility: visible;
    }

    .modal-header {
      display: block;
    }

    .navbar {
      background-color: #3b295a;
    }

    footer.page-footer {
      background-color: #3b295a;
      margin-top: 2rem;
    }

    .navbar .btn-group .dropdown-menu a:hover {
      color: #000 !important;
    }

    .navbar .btn-group .dropdown-menu a:active {
      color: #fff !important;
    }
  </style>
</head>

<body class="d-none">
  <div id="app">
    <div class="modal fade right" id="fileListModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
      aria-hidden="true">
      <div class="modal-dialog-scrollable modal-dialog modal-side modal-top-right odal-dialog-scrollable"
        role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title w-100" id="myModalLabel">Jots</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div v-html="fileList"></div>
          </div>
          <div class='p-2'>
            <span class="small" id="jottrbox-version">{{jottrboxVersion}}</span>
          </div>
        </div>
      </div>
    </div>

    <div id="modalLoginForm" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h3>Login</h3>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label for="username">Username</label>
              <input type="text" class="form-control form-control-lg" name="username" id="username" required=""
                v-model="username">
            </div>
            <div class="form-group">
              <label>Password</label>
              <input type="password" class="form-control form-control-lg" id="password" required=""
                autocomplete="new-password" v-model="password">
            </div>
            <div class="form-group py-4">
              <button class="btn btn-outline-secondary btn-lg" data-dismiss="modal" aria-hidden="true">Cancel</button>
              <button @click="login" class="btn btn-success btn-lg float-right">Login</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <header>
      <!--Navbar-->
      <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container-fluid">
          <a id="brand-text" class="navbar-brand" href="#">{{pageTitleLabel}} {{currentFileTitle}} </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <ul class="navbar-nav  mr-0 ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="#" id="edit-file-name" @click="changeFilename" title="Set Jot Name"><i
                    class='fa fa-pencil' aria-hidden='true'></i>&nbsp; <span class="d-inline d-lg-none">Edit
                    Name</span></a>
              </li>
              <li class="nav-item" v-show="loggedIn">
                <a class="nav-link" @click="saveFile" href="#" title="Save Jot">
                  <i class="fa fa-save"></i>&nbsp; 
                  <span class="d-inline d-lg-none">Save</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" title="View Jot List" data-toggle="modal" data-target="#fileListModal" href="#"
                  id="listFiles" @click="listFiles">
                  <i class="fa fa-list-alt"></i>&nbsp; <span class="d-inline d-lg-none">View List</span>
                </a>
              </li>
              <li class="nav-item" v-show="loggedIn">
                <a class="nav-link" title="Delete" href="#" id="deleteFile" @click="deleteFile">
                  <i class="fa fa-trash-o"></i>&nbsp; <span class="d-inline d-lg-none">Delete</span>
                </a>
              </li>
              <li class="nav-item" v-show="!loggedIn">
                <a class="nav-link" title="Login" data-toggle="modal" data-target="#modalLoginForm" href="#"
                  id="lnkLogin">
                  <i class="fa fa-user"></i>&nbsp; <span class="d-inline d-lg-none">Login</span>
                </a>
              </li>
              <li class="nav-item" v-show="loggedIn">
                <a class="nav-link" title="Logout" href="#" id="lnkLogout" @click="logout">
                  <i class="fa fa-sign-out"></i>&nbsp; <span class="d-inline d-lg-none">Logout</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <div id="jotted-demo-ace" style='height:85vh'></div>
    <footer class="page-footer text-center text-md-left mt-0 pt-4">
      <div class="footer-copyright py-3 text-center">
        <div class="containter-fluid">
          Made By: <a href="https://bixfliz.com">Bixfliz</a>
        </div>
      </div>
    </footer>
  </div>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script type="text/javascript"
    src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.7.7/js/mdb.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.js"></script>
  <script>
    new WOW().init();
  </script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/ace/1.4.3/ace.js"></script>
  <link href="//cdn.jsdelivr.net/npm/jotted@1.5.2/jotted.min.css" rel="stylesheet">
  <script src="//cdn.jsdelivr.net/npm/jotted@1.5.2/jotted.min.js"></script>
  <script src="jottrbox.js"></script>
  <script>
  </script>
</body>

</html>