        @media (min-width: 800px) and (max-width: 850px) {
            .navbar:not(.top-nav-collapse) {
                background: #1C2331 !important;
            }
        }

        .carousel,
        .carousel .carousel-inner,
        .carousel .carousel-inner .active,
        .carousel .carousel-inner .carousel-item,
        .view,
        body,
        html {
            height: 100%
        }

        .navbar {
            background-color: rgba(0, 0, 0, .2)
        }

        .page-footer,
        .top-nav-collapse {
            background-color: #1C2331
        }

        @media only screen and (max-width:768px) {
            .navbar {
                background-color: #1C2331
            }
        }

        th,
        td {
            border-bottom: 1px solid #ddd;
            padding: 10px
        }

        table tr:nth-child(odd) {
            background-color: #fff;
        }

        table tr:nth-child(even) {
            background-color: #f1f1f1;
        }

        table tr {
            border-bottom: 1px solid #ddd;
        }

        table th:first-child,
        table td:first-child {
            padding-left: 16px;
        }


        table td,
        table th {
            padding: 8px 8px;
            display: table-cell;
            text-align: left;
            vertical-align: top;
        }

        table th {
            font-weight: bold;
        }

        table {
            font-size: 13px !important;
            border: 1px solid #ccc;
            border-collapse: collapse;
            border-spacing: 0;
            width: 100%;
            display: table;
        }

        .text-shadow-black {
            text-shadow: 2px 2px 2px #000000;
        }

        .background-pic {
            background: #cc8bef url('pic.jpg');
            background-blend-mode: luminosity;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: 0% 40%;
        }

        .oval-div {
            background: #3b295a;
            margin-top: 10px;
            border-radius: 200px;
            border: 3px solid #fff;
            display: inline-block;
            padding: 10px 20px;
            font-size: 18px;
            line-height: 20px;
        }

        .scroll-down {
            position: absolute;
            left: 50%;
            bottom: 10px;
            display: block;
            text-align: center;
            font-size: 20px;
            z-index: 100;
            text-decoration: none;
            text-shadow: 0;
            width: 13px;
            height: 13px;
            border-bottom: 2px solid #fff;
            border-right: 2px solid #fff;
            z-index: 9;
            left: 50%;
            -webkit-transform: translate(-50%, 0%) rotate(45deg);
            -moz-transform: translate(-50%, 0%) rotate(45deg);
            transform: translate(-50%, 0%) rotate(45deg);
            -webkit-animation: fade_move_down 4s ease-in-out infinite;
            -moz-animation: fade_move_down 4s ease-in-out infinite;
            animation: fade_move_down 4s ease-in-out infinite;
        }


        /*animated scroll arrow animation*/
        @-webkit-keyframes fade_move_down {
            0% {
                -webkit-transform: translate(0, -10px) rotate(45deg);
                opacity: 0;
            }

            50% {
                opacity: 1;
            }

            100% {
                -webkit-transform: translate(0, 10px) rotate(45deg);
                opacity: 0;
            }
        }

        @-moz-keyframes fade_move_down {
            0% {
                -moz-transform: translate(0, -10px) rotate(45deg);
                opacity: 0;
            }

            50% {
                opacity: 1;
            }

            100% {
                -moz-transform: translate(0, 10px) rotate(45deg);
                opacity: 0;
            }
        }

        @keyframes fade_move_down {
            0% {
                transform: translate(0, -10px) rotate(45deg);
                opacity: 0;
            }

            50% {
                opacity: 1;
            }

            100% {
                transform: translate(0, 10px) rotate(45deg);
                opacity: 0;
            }
        }


        .demo {
            background-color: black;
            width: 600px;
            height: 250px;
            overflow: hidden;
            position: relative;

        }

        .bubble {
            border-radius: 50%;
            position: absolute;
        }

        .smallBubble {
            width: 20px;
            height: 20px;
            background-color: #7ADD20;
        }

        .mediumBubble {
            width: 30px;
            height: 30px;
            background-color: #7ADD20;
        }

        .largeBubble {
            width: 40px;
            height: 40px;
            background-color: #7ADD20;
        }
